In [1]:
import re, os
import json,sys

os.chdir(r"C:\Users\ArashM\Downloads\chordD3\circular-migration-plot-master")
os.getcwd()

'C:\\Users\\ArashM\\Downloads\\chordD3\\circular-migration-plot-master'

In [2]:
sample=json.load(open('sample.json'))
mat90=sample["matrix"]["1990"]
#print(json.dumps(sample["matrix"]["1990"], indent=2))
print(sample.keys())
print('\n'.join([''.join(['{:4},'.format(item) for item in row[1:10]]) 
      for row in mat90[1:10]]))
print(json.dumps(sample["names"][116], indent=2))

dict_keys(['names', 'regions', 'matrix'])
   0,1509,26223,  66,1831, 669,   0,   0,   0,
56108,   0,72753,  17,4345,  17,   0,  14,   9,
65612,157956,7488808,7555,24652,95931,272927,19752,37458,
5752,1498,10970,   0,   1,  91,   0,  12,  51,
   0,   0,  12,   0,   0,   0,   0,   0,   0,
  64,   0,268721,   0,   0,   0,   0,   0,   0,
1759, 797,513551,   0, 559,   0,   0,  27,   5,
 282, 770,18845,   0,   2,   0,   0,   0,8327,
  88,   0,37263,   0,   8,   0,   0,   0,   0,
"Latin America"

In [279]:
import csv
import collections
import itertools

grid = collections.Counter()


route_counts_state.head(20)

,y1_statefips,y2_statefips,y1_countyfips,y2_countyfips,n1,n2,agi,id2,id1,y1_statefipsin,y1_countyfipsin,y2_statefipsin,y2_countyfipsin,n1in,n2in,agiin,AGG1,n1_net,AGG
0,1,1,32768,32160,47193,96635,2103102,881750,881750,392.0,28744.0,392.0,28744.0,45987.0,94187.0,2046237.0,NaN,0.0,NaN
1,2,2,6530,5912,5504,10386,314082,164945,164945,80.0,4287.0,80.0,4287.0,5132.0,9673.0,292834.0,NaN,0.0,NaN
2,4,4,1633,1618,38698,77662,1747360,553998,553998,424.0,1558.0,424.0,1558.0,38555.0,77345.0,1740989.0,NaN,0.0,NaN
3,4,6,1441,5308,13038,23719,786647,600026,427942,504.0,5204.0,336.0,1403.0,18740.0,36386.0,1187038.0,NaN,-5751.0,NaN
4,4,48,795,11283,5153,10760,381599,2596947,264947,2208.0,9816.0,184.0,650.0,5265.0,10805.0,357386.0,NaN,-287.0,NaN
5,5,5,28054,28278,30627,62666,1224833,2193786,2193786,1520.0,23664.0,1520.0,23664.0,28956.0,59242.0,1161973.0,NaN,0.0,NaN
6,6,4,6958,1974,19652,38147,1241164,577912,809996,336.0,1403.0,504.0,5204.0,12989.0,23607.0,784204.0,NaN,5751.0,NaN
7,6,6,78680,78516,459420,852112,34304230,8954470,8954470,7092.0,72232.0,7092.0,72232.0,456541.0,846889.0,34141754.0,NaN,0.0,NaN
8,6,8,7539,4908,8852,16205,669008,1106877,860877,712.0,3234.0,534.0,5299.0,5867.0,9850.0,419186.0,NaN,1990.0,NaN
9,6,12,8654,10454,8797,15925,747672,1923852,1035852,1440.0,8114.0,720.0,6798.0,8731.0,14186.0,542671.0,NaN,-588.0,NaN
10,6,17,3274,3464,5321,8745,446825,934980,362986,884.0,3464.0,312.0,3274.0,9294.0,14867.0,918933.0,NaN,-3973.0,NaN
11,6,32,6360,5109,20850,40113,1283377,3561900,754004,2336.0,2650.0,438.0,4369.0,11504.0,20818.0,604916.0,NaN,8420.0,NaN
12,6,36,5088,5766,10691,14260,1122201,3253084,613064,3060.0,5601.0,510.0,5013.0,16328.0,22837.0,2007677.0,NaN,-5704.0,NaN
13,6,48,13185,49923,22977,47826,1885865,10828233,1545817,8208.0,39565.0,1026.0,10183.0,17755.0,32955.0,1379062.0,NaN,3675.0,NaN
14,6,53,10805,7613,18185,33518,1617348,9448859,1223863,5671.0,4651.0,642.0,6491.0,10602.0,18454.0,949926.0,NaN,5565.0,NaN
15,6,98,2322,0,25858,50894,2360561,3658967,255162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,6,99,12581,7601,14564,25303,1076101,20687787,1448793,3649.0,3527.0,534.0,5253.0,4959.0,8014.0,314455.0,1.0,5879.0,NaN
17,8,6,3332,5403,5922,9935,422369,636909,818909,534.0,5299.0,712.0,3234.0,7857.0,14281.0,587209.0,NaN,-1990.0,NaN
18,8,8,20995,21203,119953,214930,7213939,3542430,3542430,2752.0,18259.0,2752.0,18259.0,118544.0,212392.0,7135531.0,NaN,0.0,NaN
19,8,48,3366,21838,5197,10809,391007,4311912,791912,3840.0,19610.0,640.0,2942.0,6220.0,11943.0,479197.0,NaN,-1258.0,NaN

In [301]:

pd.options.display.max_columns=50
os.chdir(r"Z:\Shared Data\IRS-SOI\County-to-County-Migration\1516migrationdata")

df2=pd.read_csv("countyoutflow1516.csv")

# State or Foreign (country) obs
df2=df2[(df2.y2_statefips <57) | (df2.y2_statefips ==98) ] 
df2=df2[(df2.y1_statefips <57) | (df2.y1_statefips ==98)]
# removes same county obs
df2=df2[(df2.y1_statefips*1000+df2.y1_countyfips != df2.y2_statefips*1000+df2.y2_countyfips)]
# missings were coded as -1. Remove them
df2=df2[df2.n1>0]
# Create state+county fips as ID.
df2["id2"]=df2.y2_statefips*1000+df2.y2_countyfips
df2["id1"]=df2.y1_statefips*1000+df2.y1_countyfips

# Add the inflows to each pair. Used to create net and check in and out at the same time.
df=df2.join(df2.set_index(['id2', 'id1']), on=['id1', 'id2'], how='left', rsuffix='in')

# Find which states have little activity to group them into one other group.
route_counts_state = df.groupby(['y1_statefips']).sum().reset_index()
route_counts_state.loc[(route_counts_state.n1<100000) & (route_counts_state.n1in<100000) ,"AGG"]=1
route_counts_state.AGG.value_counts()

df=df.join(route_counts_state[['y1_statefips','AGG']].set_index(['y1_statefips']), on=['y1_statefips'], how='left', rsuffix='st1')
df=df.join(route_counts_state[['y1_statefips','AGG']].set_index(['y1_statefips']), on=['y2_statefips'], how='left', rsuffix='st2')
df.head()
#route_counts_state1= route_counts_state.groupby(['y1_statefips']).mean().reset_index()
#route_counts_state1.head(50)

,y1_statefips,y1_countyfips,y2_statefips,y2_countyfips,y2_state,y2_countyname,n1,n2,agi,id2,id1,y1_statefipsin,y1_countyfipsin,y2_statefipsin,y2_countyfipsin,y2_statein,y2_countynamein,n1in,n2in,agiin,AGG,AGGst2
4,1,0,98,0,AL,Total Migration-Foreign,823,1787,46982,98000,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
9,1,1,98,0,AL,Autauga County Total Migration-Foreign,25,73,1933,98000,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
11,1,1,1,51,AL,Elmore County,439,924,18648,1051,1001,1.0,51.0,1.0,1.0,AL,Autauga County,387.0,895.0,17374.0,1.0,1.0
12,1,1,1,101,AL,Montgomery County,268,596,13630,1101,1001,1.0,101.0,1.0,1.0,AL,Autauga County,352.0,741.0,13267.0,1.0,1.0
13,1,1,1,21,AL,Chilton County,54,124,2210,1021,1001,1.0,21.0,1.0,1.0,AL,Autauga County,68.0,147.0,2111.0,1.0,1.0

In [610]:
import pandas as pd
from matplotlib import pyplot as plt

pd.options.display.max_columns=50
os.chdir(r"Z:\Shared Data\IRS-SOI\County-to-County-Migration\1516migrationdata")

df2=pd.read_csv("countyoutflow1516.csv")
# add foreign inflows
dfin=pd.read_csv("countyinflow1516.csv")
dfin=dfin[dfin.y1_statefips==98]
df2 = df2.append(dfin).reset_index(drop=True)

# State or Foreign (country) obs
df2=df2[(df2.y2_statefips.between(1,56) & df2.y2_countyfips>0) | (df2.y2_statefips ==98) ] 
df2=df2[(df2.y1_statefips.between(1,56) & df2.y1_countyfips>0) | (df2.y1_statefips ==98)]
# removes same county obs
df2=df2[(df2.y1_statefips*1000+df2.y1_countyfips != df2.y2_statefips*1000+df2.y2_countyfips)  ]
# missings were coded as -1. Remove them
df2=df2[df2.n1>0]
# Create state+county fips as ID.
df2["id2"]=df2.y2_statefips*1000+df2.y2_countyfips
df2["id1"]=df2.y1_statefips*1000+df2.y1_countyfips

# Add the inflows to each pair. Used to create net and check in and out at the same time.
df=df2.join(df2.set_index(['id2', 'id1']), on=['id1', 'id2'], how='left', rsuffix='in')
df.n1in=df.n1in.fillna(0)

# Find which states have little activity to group them into one other group.
route_counts_state = df.groupby(['y1_statefips']).sum().reset_index()
route_counts_state.loc[(route_counts_state.n1<150000) & (route_counts_state.n1in<150000) ,"AGG"]=1
route_counts_state.loc[(route_counts_state.y1_statefips==98) ,"AGG"]=0
#print(route_counts_state.AGG.value_counts())

df=df.join(route_counts_state[['y1_statefips','AGG']].set_index(['y1_statefips']), on=['y1_statefips'], how='left', rsuffix='st1')
df=df.join(route_counts_state[['y1_statefips','AGG']].set_index(['y1_statefips']), on=['y2_statefips'], how='left', rsuffix='st2')

# Add census regions
cenregions=pd.read_excel(r'Z:\Shared Data\IRS-SOI\County-to-County-Migration\SAS Programs\state-geocodes-v-regions2011.xls')
df=df.join(cenregions[['State\n(FIPS)','Region']].set_index(['State\n(FIPS)']), on=['y2_statefips'], how='left', rsuffix='y2')
df=df.join(cenregions[['State\n(FIPS)','Region']].set_index(['State\n(FIPS)']), on=['y1_statefips'], how='left', rsuffix='y1')


#print("DF HEAD:")
#print(df.head(10))

# generate R99 and R999SS ids for the other group. When state is 99, the counties are all in one state group. (Undoing the above.)
mask = (df.AGG==1) 
df.loc[mask,"id1"]=df.Regiony1*100000 + 99900 + df.y1_statefips
df.loc[mask,"y1_statefips"]=df.Regiony1*100 + 99
mask = (df.AGGst2==1) 
df.loc[mask,"id2"]=df.Region*100000 + 99900 + df.y2_statefips
df.loc[mask,"y2_statefips"]=df.Region*100 + 99



#print(pd.crosstab(df.y1_statefips,df.Regiony1))

# replace ids of small counties with SS999 for other.
route_counts_county1 = df.groupby(['id1']).sum().reset_index()
route_counts_county2 = df.groupby(['id2']).sum().reset_index()
route_counts_county2.rename(index=str, columns={"id2": "id1", "n1": "n1in", "n1in": "n1"})
route_counts_county1.append(route_counts_county2)
route_counts_county = route_counts_county1.groupby(['id1']).mean().reset_index()

## add in state aggregates to define small as less than 50K or 1/10 of migration
route_counts_county.y1_statefips=round(route_counts_county.id1/1000)
route_counts_county=route_counts_county.join(
    route_counts_state[['y1_statefips','n1','n1in']].set_index(['y1_statefips']),
    on=['y1_statefips'], how='left', rsuffix='st1')

# counties with migration less than min(50K , statemigration / 10) will be aggregated.
route_counts_county['test']=50000
route_counts_county.loc[route_counts_county.n1st1/10<50000,'test']=route_counts_county.n1st1/10
route_counts_county['test1']=50000
route_counts_county.loc[route_counts_county.n1inst1/10<50000,'test1']=route_counts_county.n1st1/10
mask=(route_counts_county.n1< route_counts_county.test) & (route_counts_county.n1in<route_counts_county.test1)
route_counts_county.loc[mask ,"AGGC"]=1
#print(route_counts_county.AGGC.value_counts())

df=df.join(route_counts_county[['id1','AGGC']].set_index(['id1']), on=['id1'], how='left', rsuffix='st1')
df=df.join(route_counts_county[['id1','AGGC']].set_index(['id1']), on=['id2'], how='left', rsuffix='st2')

mask = (df.AGGC==1) & (df.y1_statefips<99)
df.loc[mask,"id1"]=df.y1_statefips*1000+999
mask = (df.AGGCst2==1) & (df.y2_statefips<99) 
df.loc[mask,"id2"]=df.y2_statefips*1000+999

#print(route_counts_county[(route_counts_county.id1==13303)])


# Add State to County and State to State Migration
route_counts_state = df.groupby(['y1_statefips', 'y2_statefips']).sum().reset_index()
route_counts_state.id1=route_counts_state.y1_statefips*1000
route_counts_state.id2=route_counts_state.y2_statefips*1000
route_counts_state1 = df.groupby(['y1_statefips','id2']).sum().reset_index()
route_counts_state1.id1=route_counts_state1.y1_statefips*1000
route_counts_state2 = df.groupby(['id1', 'y2_statefips']).sum().reset_index()
route_counts_state2.id2=route_counts_state2.y2_statefips*1000

#print(route_counts_state[route_counts_state.y1_statefips==99].head())

route_counts = df.groupby(['id1', 'id2']).sum().reset_index()
route_counts = route_counts[route_counts.n1>0]

route_counts=route_counts.append(route_counts_state)
route_counts=route_counts.append(route_counts_state1)
route_counts=route_counts.append(route_counts_state2)

# create net migration file.
route_counts['n1_net']=route_counts.n1-route_counts.n1in
route_counts_net=route_counts[route_counts.n1_net>0]

df[df.id2==98000].head()
#print(len(route_counts.index),len(df.index))
#route_counts.tail(5)

#route_counts_state.y1_statefips.value_counts()

# To figure out which states to aggregate, let's see the histogram of n1 by state.
#plt.close()
#fig1=plt.figure(figsize=(17,10))
#route_counts_state.hist(column='n1')
#plt.xlabel("Trip_distance",fontsize=15)
#plt.ylabel("Frequency",fontsize=15)
#plt.xlim([0.0,40000.0])
#plt.show()

,agi,n1,n2,y1_countyfips,y1_countyname,y1_state,y1_statefips,y2_countyfips,y2_countyname,y2_state,y2_statefips,id2,id1,agiin,n1in,n2in,y1_countyfipsin,y1_countynamein,y1_statein,y1_statefipsin,y2_countyfipsin,y2_countynamein,y2_statein,y2_statefipsin,AGG,AGGst2,Region,Regiony1,AGGC,AGGCst2
9,1933,25,73,1,NaN,NaN,399.0,0,Autauga County Total Migration-Foreign,AL,98.0,98000.0,399901.0,2861.0,40.0,136.0,0.0,Autauga County Total Migration-Foreign,AL,98.0,1.0,NaN,NaN,1.0,1.0,0.0,NaN,3.0,NaN,NaN
31,965,20,30,3,NaN,NaN,399.0,0,Baldwin County Total Migration-Foreign,AL,98.0,98000.0,399901.0,14475.0,241.0,535.0,0.0,Baldwin County Total Migration-Foreign,AL,98.0,3.0,NaN,NaN,1.0,1.0,0.0,NaN,3.0,NaN,NaN
289,3322,54,102,31,NaN,NaN,399.0,0,Coffee County Total Migration-Foreign,AL,98.0,98000.0,399901.0,6023.0,85.0,242.0,0.0,Coffee County Total Migration-Foreign,AL,98.0,31.0,NaN,NaN,1.0,1.0,0.0,NaN,3.0,NaN,NaN
422,2945,67,191,45,NaN,NaN,399.0,0,Dale County Total Migration-Foreign,AL,98.0,98000.0,399901.0,3500.0,74.0,185.0,0.0,Dale County Total Migration-Foreign,AL,98.0,45.0,NaN,NaN,1.0,1.0,0.0,NaN,3.0,NaN,NaN
699,3336,58,101,73,NaN,NaN,399.0,0,Jefferson County Total Migration-Foreign,AL,98.0,98000.0,399901.0,1337.0,32.0,59.0,0.0,Jefferson County Total Migration-Foreign,AL,98.0,73.0,NaN,NaN,1.0,1.0,0.0,NaN,3.0,NaN,NaN

In [611]:
measures={0: route_counts, 1: route_counts_net}
for i in range(2):
    measures.get(i)

# Turn the bilateral observations into a matrix
# Save the location of variables of interest
    locid2=measures.get(i).columns.get_loc("id2")
    locid1=measures.get(i).columns.get_loc("id1")
    if i==0:
        locn1=measures.get(i).columns.get_loc("n1")
    else:
        locn1=measures.get(i).columns.get_loc("n1_net")

    grid = collections.Counter()

    for index,line in measures.get(i).iterrows():
        # clean empty names
        line = [name for name in line]
        #print(line)
        # do pairwise stuff
        if str(line[locid1])==str(line[locid2]):
            grid[(int(line[locid1]),int(line[locid2]))] = '0'   
        else:
            grid[(int(line[locid1]),int(line[locid2]))] = line[locn1]
        #grid[pair[::-1]] += 1


    actors = sorted(set(pair[0] for pair in grid))

    fips=[k for k in range(56)]
    fips.extend([199,299,399,499])
    fips.append(98)
    regions=[]
    for l in fips:
        try:
            regions.append(actors.index(l*1000))
        except:
            pass
            #print(str(l),"state not found")
    print("Indices of state aggregates are", regions)



    locals()["mat1516"+str(i)]=[]
    with open("connection_grid"+str(i)+".csv", "w", newline="") as fp:
        writer = csv.writer(fp)
        writer.writerow([''] + actors)
        for actor in actors:
            line = [actor,] + [int(grid[actor, other]) for other in actors]
            locals()["mat1516"+str(i)].append(line[1:])
            writer.writerow(line)
    #print('\n'.join([''.join(['{:4},'.format(item) for item in row[0:10]]) 
    #      for row in mat1516[0:10]]))
    #print(mat1516[0])

Indices of state aggregates are [0, 5, 12, 15, 21, 25, 29, 34, 39, 43, 47, 51, 56, 62, 69, 79, 93, 61]
Indices of state aggregates are [0, 5, 12, 15, 21, 25, 29, 34, 39, 43, 47, 51, 56, 62, 69, 79, 93, 61]

In [612]:

# Create the Labels
os.chdir(r"Z:\Shared Data\IRS-SOI\County-to-County-Migration\1516migrationdata")
df2=pd.read_csv("countyoutflow1516.csv")

df2.y2_countyname=df2.y2_countyname.str.replace(" County","")
df2.y2_countyname=df2.y2_countyname.str.replace(" Non-migrants","")
dd=df2.groupby(['y2_statefips','y2_countyfips','y2_state','y2_countyname']).size().reset_index().rename(columns={0:'count'})
dd['id'] = dd.y2_statefips*1000 + dd.y2_countyfips
dd['label1'] = dd.y2_countyname + ", " + dd.y2_state
ss=df2.groupby(['y2_statefips','y2_state']).size().reset_index().rename(columns={0:'count'})
ss=ss[ss.y2_statefips<57]
ss['label1'] = ss.y2_state
for i in range(1,5):
    locals()["ss"+str(i)]=ss.copy(deep=True)
    locals()["ss"+str(i)]['id']= (i*100000)+ 99900 + locals()["ss"+str(i)]['y2_statefips']

    
ss['id'] = ss.y2_statefips*1000 

ss_other=ss.copy(deep=True)
ss_other['id'] = ss_other.id+999
ss_other['label1'] = "Other Counties, "+ss_other.label1
cenreg=cenregions.drop_duplicates(subset=['Region'])
cenreg['id']= (cenreg.Region*100+99)*1000
cenreg['label1']="Other "+ cenreg.Name.str.replace(" Region"," States").str.replace("Northeast","NE")

print(ss.head())
dd=dd.append(cenreg)
dd=dd.append(ss).append(ss1).append(ss2).append(ss3).append(ss4)
dd=dd.append(ss_other)

dd = dd[['id','label1']].drop_duplicates(subset='id')
dd.label1[dd.id==98000]="Foreign"

#testing
#print(df2[(df2.y2_statefips==8)&(df2.y2_countyfips==25)])

actors1=pd.DataFrame(data=actors,    # values
                   columns=['id'], dtype='int32')  # 1st row as the column names
#print(actors1.head())
actors2=actors1.join(dd.set_index(['id']), on=['id'], how='left')
print(actors2.head(20))

names= actors2.label1.tolist()
migration={}
migration={'names':names,'regions': regions,'matrix':{'1516':mat15160, '1516-Net':mat15161}}

#test
migration.keys()
[migration['names'][i] for i in migration['regions']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   y2_statefips y2_state  count label1    id
0             1       AL    757     AL  1000
1             2       AK    166     AK  2000
2             4       AZ    947     AZ  4000
3             5       AR    570     AR  5000
4             6       CA   3370     CA  6000
       id              label1
0    6000                  CA
1    6037     Los Angeles, CA
2    6059          Orange, CA
3    6073       San Diego, CA
4    6999  Other Counties, CA
5    8000                  CO
6    8001           Adams, CO
7    8005        Arapahoe, CO
8    8031          Denver, CO
9    8041         El Paso, CO
10   8059       Jefferson, CO
11   8999  Other Counties, CO
12  12000                  FL
13  12095          Orange, FL
14  12999  Other Counties, FL
15  13000                  GA
16  13067            Cobb, GA
17  13089          DeKalb, GA
18  13121          Fulton, GA
19  13135        Gwinnett, GA

['CA',
 'CO',
 'FL',
 'GA',
 'IL',
 'MI',
 'NJ',
 'NY',
 'NC',
 'OH',
 'PA',
 'TX',
 'WA',
 'Other NE States',
 'Other Midwest States',
 'Other South States',
 'Other West States',
 'Foreign']

In [613]:
os.chdir(r"C:\Users\ArashM\Downloads\chordD3\circular-migration-plot-master")
with open('migration.json', 'w') as outfile:
    json.dump(migration, outfile)